USE [master]
GO
/****** Object:  Database [HospitalDatabase]    Script Date: 22.06.2022 21:32:28 ******/
CREATE DATABASE [HospitalDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HospitalDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HospitalDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDatabase]
GO
/****** Object:  Table [dbo].[DoctorTable]    Script Date: 22.06.2022 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorTable](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[DocName] [varchar](100) NOT NULL,
	[DocDOB] [date] NOT NULL,
	[DocGender] [varchar](10) NOT NULL,
	[DocProfession] [varchar](50) NOT NULL,
	[DocPhone] [varchar](50) NOT NULL,
	[DocAddress] [varchar](100) NOT NULL,
	[DocPassword] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientTable]    Script Date: 22.06.2022 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTable](
	[PatID] [int] IDENTITY(100,1) NOT NULL,
	[PatName] [varchar](50) NOT NULL,
	[PatGender] [varchar](10) NOT NULL,
	[PatDOB] [date] NOT NULL,
	[PatAddress] [varchar](100) NOT NULL,
	[PatPhone] [varchar](15) NOT NULL,
	[PatAllergies] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionTable]    Script Date: 22.06.2022 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionTable](
	[PrescID] [int] IDENTITY(500,1) NOT NULL,
	[DocID] [int] NOT NULL,
	[DocName] [varchar](50) NOT NULL,
	[PatID] [int] NOT NULL,
	[PatName] [varchar](50) NOT NULL,
	[TestID] [int] NOT NULL,
	[TestName] [varchar](50) NOT NULL,
	[Medicines] [varchar](100) NOT NULL,
	[Cost] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecepTable]    Script Date: 22.06.2022 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecepTable](
	[RecepID] [int] IDENTITY(800,1) NOT NULL,
	[RecepName] [varchar](50) NOT NULL,
	[RecepPhone] [varchar](12) NOT NULL,
	[RecepAddress] [varchar](100) NOT NULL,
	[RecepPassword] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 22.06.2022 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[TestNum] [int] IDENTITY(2000,1) NOT NULL,
	[TestName] [varchar](50) NOT NULL,
	[TestCost] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrescriptionTable]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([DocID])
REFERENCES [dbo].[DoctorTable] ([DocID])
GO
ALTER TABLE [dbo].[PrescriptionTable] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[PrescriptionTable]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([PatID])
REFERENCES [dbo].[PatientTable] ([PatID])
GO
ALTER TABLE [dbo].[PrescriptionTable] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[PrescriptionTable]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([TestID])
REFERENCES [dbo].[TestTable] ([TestNum])
GO
ALTER TABLE [dbo].[PrescriptionTable] CHECK CONSTRAINT [FK3]
GO
USE [master]
GO
